
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" padding="100dp">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase">Fakülte Hakkında Genel Bakış</h5>
                <form class="form-material form-horizontal">
                    <div class="form-group">
                        Teknoloji fakülteleri,  Türkiye de yeni bir fakülte modelidir ve bu kararla birlikte yirmi bir adet Teknoloji fakültesi kurulmuştur. Endüstrinin ihtiyaç duyduğu uygulama becerisi yüksek mühendisler yetiştirmek ve mesleki teknik ortaöğretime vasıflı öğretmen yetiştirmek üzere kurulmuş olan Teknoloji Fakülteleri bünyesinde mühendislik ve teknoloji bölümleri olmak üzere iki farklı müfredat barındırmaktadır. Mühendislik müfredatı, öğrencilerinin “Mühendislik”  unvanını ifade edebilecekleri şekilde eğitecek ve öğretim kadrosunu da bu doğrultuda düzenleyecektir. Diğer mühendislik fakültelerinin müfredatlarından farklı bir yapıya sahip olan Teknoloji fakülteleri, öğrencilerinin uygulama becerilerini geliştirmesine ve pratik bilgilerinin artmasına yönelik bir misyon belirleyip, o doğrultuda bir çalışma sistemini benimseyecektir. Teorik dersler açısından ise diğer mühendislik bölümlerine eşdeğer bir müfredata sahip olacaktır. Uygulama becerisi ve pratik bilgi edinme amacına sahip olan mühendislik müfredatında, Teknoloji fakültesi öğrencileri; yaz dönemlerinde yetmiş iki (72) günlük endüstri stajı ve ayrıca bir yarıyıl da (7. Yarıyıl) işyeri eğitimi göreceklerdir. Mühendislik Fakültesi mezunu mühendis ile Teknoloji Fakültesi mezunu mühendis arasında, hukuki statü bakımdan hiçbir fark olmayıp, her iki fakültenin de mezunlarının diplomalarının da “… Mühendisliği bölümünden mezun olmuştur.” ibaresi yer alacaktır. Teknoloji Fakültesi mezunu mühendisler de Türkiye Mimar ve Mühendisler Odaları Birliğine bağlı mühendis odalarına üye olabileceklerdir. Teknoloji Fakültesi mühendislik bölümleri mezunlarının, lisansüstü (Yüksek Lisans+Doktora) eğitimleri mühendislik fakültelerinde olduğu gibi düzenlenecektir.
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
    
</div>

